.listCards {
  padding: 4vh 2vw 0 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5em;
}

.listCards:last-child {
  margin-bottom: 8vh;
}

.card {
  width: 45vw;
}

.subject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2vw 0 2vw;
}

.subject h4 {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    width: 90vw !important;
  }
}