.listCards {
  padding: 4vh 2vw 0 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5em;
}

.card {
  width: 45vw;
}

@media (max-width: 768px) {
  .card {
    width: 90vw !important;
  }
}