@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Tilt+Warp&display=swap');

.colorPrimary {
    color: var(--primary);
}

.escapeGame a {
    text-decoration: none;
    position: relative;
    top: 1vh;
    left: 1.2vw;
    transform: translate(-50%, -50%);
    font-size: 13vw;
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    color: var(--primary);
}

.escapeGame a::after {
    content: '';
    background: #fff;
    position: absolute;
    width: 100vw;
    right: 0;
    height: calc(5vw / 6);
    top: calc(50% - 5vw / 18);
    transform: translateX(-101%);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.escapeGame a::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #424242;
    width: 0;
    transition: width 0.4s 0.3s;
}

.escapeGame a:hover::before {
    width: 100%;
}

.escapeGame a:hover::after {
    transform: translateX(101%);
}

.subject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh 2vw 0 2vw;
}

.subject h4 {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}

.subject .description {
    width: 25vw;
    text-align: justify;
}

@media (max-width: 768px) {
    .subject .description {
        width: 50vw;
    }
}

.subject svg{
    width: 20px;
    height: 20px;
}