.blocVideo{
    display: flex;
    padding-top: 4vh;
    justify-content: center;
    width: 100vw;
}

.game{
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
}